:root {
  --primary: #01639a;
  --dark-blue: #033562;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f5f5f5;
}
.box {
  width: 50%;
}
.container {
  width: 85%;
}
.container img {
  width: 20%;
}
input {
  margin: 0.5rem 0;
  width: 20rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.btn-login {
  background-color: var(--dark-blue);
}
@media (max-width: 992px) {
  .box {
    width: 75%;
  }
  .container img {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .box {
    width: 100%;
  }
  .container img {
    width: 50%;
  }
}
